/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here */

.d-flex{
    display: flex;
}

.navbar{
    background-color: rgb(102, 147, 181);
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.flex2{
    flex: 2;
}

.nav-text{
    color: white;
    font-size: x-large;
}

.size1{
    font-size: 4em;
}

.main{
    padding-left: 10%;
    padding-right: 10%;
}

.bg-grey{
    background-color: lightgray;
}

.img-rad{
    border-radius: 50%;
    height: 8em;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

h2{
    color: black;
    font-size: 3em;
}

.f-fam{
    font-family: Arial, Helvetica, sans-serif;
}

.main-top{
    padding: 15px;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px;
}

.more-space{
    width: 16%;
}

.card{
    padding: 10px;
    text-align: center;
}

.margin10{
    margin: 10px;
}

.pop-up-main{
    border: 3px solid black;
    position: fixed;
    margin-top: 20px;
    height: 15%;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 75%;
}

.pop-up-btn{
    background-color: lightblue;
    height: max-content;
    width: 8em;
    font-size: large;
    box-shadow:  3px 5px black;
}

.pop-up-title{
    font-size: xx-large;
    font-weight: 600;
}

.pop-up{
    width: 60%;
}
    